.SyncButton {
  position: absolute;
  width: 33vw;
  height: 33vh;
  top: 33%;
  left: 33%;
  background-color: #44CC44;
  margin: auto;
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  font-family: Helvetica, Verdana, sans-serif;
  z-index: 20;
}

.SyncButton2 {
  position: absolute;
  width: 33vw;
  height: 33vh;
  top: 33%;
  left: 33%;
  background-color: #4444CC;
  margin: auto;
  text-align: center;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  font-family: Helvetica, Verdana, sans-serif;
  z-index: 20;
}

.SyncButton:hover {
  background-color: #44AA44;
  cursor: pointer;
}

.SyncButton:focus {
  outline: 0;
}

.SyncButton2:hover {
  background-color: #4444AA;
  cursor: pointer;
}

.SyncButton2:focus {
  outline: 0;
}

.CoverButtonStyle {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #D3D3D3;
  margin: auto;
  border: none;
  color: #333333;
  text-align: center;
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  z-index: 10
}

.CoverButtonStyle:hover {
  background-color: #DDDDDD;
  cursor: pointer
}

.CoverButtonStyle:focus {
  outline: 0
}

.Flash {
  position:absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 30;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-color: #333333;
  text-align: center;
  font-size: 30px;
  margin: auto;
  border: none;
}

.Flash:hover {
  font-color: #303030;
  cursor: pointer;
}

.Flash:focus {
  outline: 0;
}

.VidBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)}

.JoystickBg {
  position: fixed;
  top: 0px;
  right: 10%;
  height: 100vh;
  width: 8vw;
  position: absolute;
  background-color: #D3D3D3;
  z-index: 2}

.Background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  z-index: -2}

.PlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  font-size: 200px;
  font-family: Helvetica, Verdana, sans-serif;
  background-color: transparent;
  border: none;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  zIndex: 2}

.PlayButton:hover {
  opacity: 0.5;
  cursor: pointer
}

.PlayButton:focus {
  outline: 0;
}

.CentreBottomPosition {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0)}
